@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Welcome Back</h2>
<ul class="menu">
    <li>@Html.ActionLink("Chinese LastName Management", "Index", "ChineseLastName")</li>
    <li>@Html.ActionLink("Users", "Index", "User")</li>
    <li>@Html.ActionLink("Questions", "Index", "QuestionAndAnswer")</li>
    <li>@Html.ActionLink("FeedBacks", "Index", "FeedBack")</li>
</ul>
<div class="clearBoth"></div>

@RenderBody()
