@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li @RenderSection("NavChineseName", false)>@Html.ActionLink("Chinese LastName Management", "Index", "ChineseLastName")</li>
            <li class="divider-vertical"></li>
            <li @RenderSection("NavUser", false)>@Html.ActionLink("Users", "Index", "User")</li>
            <li class="divider-vertical"></li>
            <li @RenderSection("NavQuestion", false)>@Html.ActionLink("Questions", "Index", "QuestionAndAnswer")</li>
            <li class="divider-vertical"></li>
            <li @RenderSection("NavFeedBack", false)>@Html.ActionLink("FeedBacks", "Index", "FeedBack")</li>
            <li class="divider-vertical"></li>
            <li @RenderSection("NavState", false)>@Html.ActionLink("State", "Index", "State")</li>
            <li class="divider-vertical"></li>
            <li @RenderSection("NavTalkSession", false)>@Html.ActionLink("TalkSession", "Index", "TalkSession")</li>
            <li class="divider-vertical"></li>
            <li @RenderSection("NavConstMessages", false)>@Html.ActionLink("Const Messages", "Index", "ConstMessage")</li>
        </ul>
    </div>

</div>
@RenderBody()
